.sidebar{
    width: 19%;
    background-color: rgb(24, 24, 24);
    height: 92vh;
}

.sidebar__btn{
    display: flex;
    padding: 8px 20px;
    cursor: pointer;
    align-items: center;
}

.sidebar__btn>p{
    opacity: 0.9;
    font-weight: 400 !important;
    font-size: 0.9rem;
    
}

.sidebar__btn--active>.sidebar__icon, .sidebar__btn--active>p{
    opacity: 1 !important;
}

.sidebar__btn--active, .sidebar__btn:hover{
    background-color: rgb(67, 67, 67);
}
.sidebar__icon{
    margin-right: 20px;
}

.sidebar__buttons{
    padding-bottom: 20px;
    border-top: 1px solid rgb(67, 67, 67);
}
.bottom{
    margin-top: 10px;
    
}

.sidebar__btn{
    padding: 10px;
}